.PhoneInput input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(250, 168, 49, 0.4);
  padding: 13px 72px;
  margin-bottom: 10px;

  font-size: 14px;
}

select{
  display: block !important;
  box-sizing: border-box !important;
  width: 100% !important;
  border-radius: 4px !important;
  border: 1px solid rgba(250, 168, 49, 0.4) !important;
  padding: 13px 72px !important;
  margin-bottom: 10px !important;
  height: 50px !important;
  width: 100% !important;
  font-size: 14px !important;
}

.react-tel-input .form-control {
  display: block !important;
  box-sizing: border-box !important;
  width: 100% !important;
  border-radius: 4px !important;
  border: 1px solid rgba(250, 168, 49, 0.4) !important;
  padding: 13px 72px !important;
  margin-bottom: 10px !important;
  height: 50px !important;
  width: 100% !important;
  font-size: 14px !important;
}
.react-tel-input .form-control:focus {
  outline: none !important;
  border: 1px solid #fba932 !important;
}
button.modalbutton {
  background: #fba932 !important;
  color: white !important;

  text-transform: uppercase;
  border: none;

  height: 44px;
  padding: 0 2vw 0 2vw;
  font-size: 14px;
}
.plus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;
}

body {
  background: var(--textDefault);
}

form {
  max-width: 100%;
}

.form {
  background: 1px solid #faa831;
  max-width: 100%;
  margin: 0 auto;
}

.LoginWarning {
  color: #e7414c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(250, 168, 49, 0.4);
  padding: 13px 72px;
  margin-bottom: 10px;

  font-size: 14px;
}
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(250, 168, 49, 0.4);
  padding: 13px 72px;
  margin-bottom: 10px;

  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}

input:focus {
  outline: none;
  border: 1px solid #fba932;
}
textarea:focus {
  outline: none;
  border: 1px solid #fba932;
}

button[type="submit"],
input[type="submit"] {
  background: #fba932;
  color: white;
  width: 100%;

  text-transform: uppercase;
  border: none;
  margin-top: 40px;

  font-size: 16px;
  font-weight: 100;
}

/* button[type="submit"]:hover,
    input[type="submit"]:hover {
      background: #bf1650;
    } */

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

/* button[type="submit"],
    input[type="button"],
    .App {
      max-width: 600px;
      margin: 0 auto;
    }
     */
/* button[type="button"] {
      display: block;
      appearance: none;
      background: #333;
      color: white;
      border: none;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 4px;
    }
     */


/* button {
      
      margin-top: 40px;
      border: 1px solid #333;
      margin-bottom: 20px;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 4px;
      
    } */

/* New CSS for input field with warning */

/* input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      border-radius: 4px;
      border: 1px solid rgba(250, 168, 49, 0.40);
      padding: 10px 15px;
      margin-bottom: 10px;
      font-size: 14px;
      
    }Missing
     */
label {
  line-height: 2;
  text-align: left;
  display: block;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
}

/* New CSS for input field with warning */
input.LoginWarning {
  background: rgba(231, 65, 76, 0.06);
  border: 1px solid rgba(231, 65, 76, 0.8);

  padding: 13px 72px;
}

.LoginWarning::before {
  display: inline-block;
  content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><path d='M10.0003 1.66665C14.5837 1.66665 18.3337 5.41665 18.3337 9.99998C18.3337 14.5833 14.5837 18.3333 10.0003 18.3333C5.41699 18.3333 1.66699 14.5833 1.66699 9.99998C1.66699 5.41665 5.41699 1.66665 10.0003 1.66665Z' stroke='%23E7414C' stroke-opacity='0.6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M10 13.3333V9.16665' stroke='%23E7414C' stroke-opacity='0.6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M9.99512 6.66669H10.0026' stroke='%23E7414C' stroke-opacity='0.6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  vertical-align: middle;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.LoginWarning {
  color: #e7414c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* #EmailIcon{
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 4C20.6569 4 22 5.34315 22 7V17C22 18.6569 20.6569 20 19 20H5C3.34315 20 2 18.6569 2 17V7C2 5.34315 3.34315 4 5 4H19ZM20 7.328L12.6585 13.7526C12.3129 14.055 11.8111 14.0802 11.4394 13.8282L11.3415 13.7526L4 7.329V17C4 17.5523 4.44772 18 5 18H19C19.5523 18 20 17.5523 20 17V7.328ZM18.48 6H5.518L12 11.6712L18.48 6Z' fill='%2374788D'/%3E%3C/g%3E%3C/svg%3E") no-repeat scroll 24px 10px;
      padding-left: 72px;
      background-size: 24px;
      
      
  }
  #PassIcon{
      
          background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.334 2.75012H7.665C4.644 2.75012 2.75 4.88912 2.75 7.91612V16.0841C2.75 19.1111 4.635 21.2501 7.665 21.2501H16.333C19.364 21.2501 21.25 19.1111 21.25 16.0841V7.91612C21.25 4.88912 19.364 2.75012 16.334 2.75012Z' stroke='%2374788D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6889 12.0001C10.6889 13.0231 9.85986 13.8521 8.83686 13.8521C7.81386 13.8521 6.98486 13.0231 6.98486 12.0001C6.98486 10.9771 7.81386 10.1481 8.83686 10.1481H8.83986C9.86086 10.1491 10.6889 10.9781 10.6889 12.0001Z' stroke='%2374788D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.6919 12.0001H17.0099V13.8521' stroke='%2374788D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.1816 13.8522V12.0002' stroke='%2374788D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E") no-repeat scroll 24px 10px;
          padding-left: 72px;
          background-size: 24px;
   
      
  } */

.EmailInput input {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 4C20.6569 4 22 5.34315 22 7V17C22 18.6569 20.6569 20 19 20H5C3.34315 20 2 18.6569 2 17V7C2 5.34315 3.34315 4 5 4H19ZM20 7.328L12.6585 13.7526C12.3129 14.055 11.8111 14.0802 11.4394 13.8282L11.3415 13.7526L4 7.329V17C4 17.5523 4.44772 18 5 18H19C19.5523 18 20 17.5523 20 17V7.328ZM18.48 6H5.518L12 11.6712L18.48 6Z' fill='%2374788D'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 24px 10px;
  padding-left: 72px;
  background-size: 24px;
}

.PasswordInput input {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.334 2.75012H7.665C4.644 2.75012 2.75 4.88912 2.75 7.91612V16.0841C2.75 19.1111 4.635 21.2501 7.665 21.2501H16.333C19.364 21.2501 21.25 19.1111 21.25 16.0841V7.91612C21.25 4.88912 19.364 2.75012 16.334 2.75012Z' stroke='%2374788D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6889 12.0001C10.6889 13.0231 9.85986 13.8521 8.83686 13.8521C7.81386 13.8521 6.98486 13.0231 6.98486 12.0001C6.98486 10.9771 7.81386 10.1481 8.83686 10.1481H8.83986C9.86086 10.1491 10.6889 10.9781 10.6889 12.0001Z' stroke='%2374788D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.6919 12.0001H17.0099V13.8521' stroke='%2374788D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.1816 13.8522V12.0002' stroke='%2374788D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 24px 10px;
  padding-left: 72px;
  background-size: 24px;
}

.ForgotPassword {
  text-align: right;
}

.ForgotPassword a {
  color: #3f3f3f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.bottom-right {
  align-self: center;
}

.bottom-right text {
  color: var(--secondary-gray, #74788d);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottom-right a {
  color: var(--btn-primary, #fba932);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}