* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  

}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

/* Assign CSS Variables here */
:root {
  --textPrimary: #3F3F3F;
  --buttonPrimary : #FBA932;
  --themeSecondary : #00B2C6;
  --textDefault : #FFFFFF;
  


  

  
}
