* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src:
    local("Poppins"),
    url(./fonts/Poppins-Regular.ttf) format("truetype");
}

/* Assign CSS Variables here */
:root {
  --textPrimary: #3f3f3f;
  --buttonPrimary: #fba932;
  --themeSecondary: #00b2c6;
  --textDefault: #ffffff;
}
